<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon.png') }}">
  </head>
 <body>
  <div class="logo">
    <img src="{{url_for('static', filename='gameguard_logo.png')}}" height="200"/>
  </div>
  <div class="plot-wrapper">
    <div class="graph-container">
      <div id='chart1' class='chart'></div>
    </div>
    <div class="graph-container">
      <div id='chart2' class='chart'></div>
    </div>
  </div>
  <table class="center">
    <tr>
      <th>User</th>
      <th>Risk score</th>
      <th>Tendency</th>
      <th></th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.user }}</a></td>
        <td>{{ user.confidence_score }}</td>
        <td><span style="color: {% if user.improving == '▲' %}red{% elif user.improving == '▼' %}green{% endif %};">{{ user.improving }}</span></td>
        <td><a href="{{ url_for('user_page', user=user.user) }}">Details</a></td>
      </tr>
    {% endfor %}
  </table>
  <script>
    setInterval(function(){
      window.location.reload(true);
    }, 600000); // 300000 milliseconds = 10 minutes
  </script>
</body>
 
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graph1 = {{graphJSON1 | safe}};
  var graph2 = {{graphJSON2 | safe}};
  Plotly.plot('chart1', graph1, {});
  Plotly.plot('chart2', graph2, {});
</script>
<script>
    // Get the heatmap element by ID
    var heatmap = document.getElementById('chart2');

    // Add an onclick event to the heatmap
    heatmap.on('plotly_click', function(data){
        // Get the row and column of the clicked cell
        var row = data.points[0].y;
        var col = data.points[0].x;

        // Get the username from the column name
        var username = col.replace('@', '');

        // Redirect to the user's page with the username as a parameter
        window.location.href = '/user/' + username;
    });
</script>
</html>
