<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
 <body>
  <h1>Raw purchases for {{ user }} on {{ date }}</h1>

  <div class="graph-container">
    <div id='chart1' class='chart'></div>
  </div>

  <div class="stat-box">
    <table>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>{{ user }}</td>
        <td>{{ date }}</td>
      </tr>
    </table>
  </div>
  

  <table>
    <tr>
      <th>Date and time</th>
      <th>Lootbox category</th>
      <th>Lootbox purchased</th>
      <th>Lootbox price ($)</th>
      <th>Outcome of the lootbox</th>
      <th>Outcome category</th>
      <th>Value of the outcome ($)</th>
    </tr>
    {% for purchase in user_date_data %}
      <tr>
        <td>{{ purchase.datetime_zh }}</td>
        <td>{{ purchase.src_type }}</td>
        <td>{{ purchase.src_en }}</td>
        <td>{{ purchase.src_value }}</td>
        <td>{{ purchase.out }}</td>
        <td>{{ purchase.out_type }}</td>
        <td>{{ purchase.out_value }}</td>
      </tr>
    {% endfor %}
  </table>


  
</body>


<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var fig1 = {{graphJSON_user | safe}};
  Plotly.plot('chart1', fig1, {});

</script>


</html>